.fedis-main
{
	background-image: linear-gradient(135deg, #573e81, #133259 40%, #133259);
	color: #FFF;
	padding: 80px;	
	h1{font-size: 6em; font-family: Arial, Helvetica, sans-serif; text-align: center;font-weight: 100; }
}
.footer{color:#888 }